  <!-- ======= Footer ======= -->
<footer id="footer" class="footer">
    <div class="copyright">
        &copy; Copyright <strong><span>@TempData["AppName"]</span></strong><span> @DateTime.Today.Year</span>. All Rights Reserved
    </div>
</footer><!-- End Footer -->
