<div class="container">

    <section class="section error-404 min-vh-100 d-flex flex-column align-items-center justify-content-center">
        <h1>404</h1>
        <h2>Esta pagina no existe</h2>
        <a class="btn" asp-action="Index">Volver al inicio</a>
        <img src="assets/img/not-found.svg" class="img-fluid py-5" alt="Pagina no encontrada">
    </section>

</div>